# private files
/instance/config.toml
/instance/申請AI簡報瀏覽權限名單.xlsx
/app/base/static/pdf_files

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.log

# venv
env
venv

# other
.DS_Store
.vscode/

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
