{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">台化工程會簡報清單</font>  	
	<br>

	<table>
		<tr>
			<th>2022/11/13</th>
			<td><a href="pdf_viewer?file=台化/工程會/20221113 PP工程會(塑膠部智能工廠推動進度)">PP工程會(塑膠部智能工廠推動進度)</a></td>
		</tr>
		<tr>
			<th>2022/07/18</th>
			<td><a href="pdf_viewer?file=台化/工程會/20220718 ARO3廠重組觸媒再生效能監控模組">ARO3廠重組觸媒再生效能監控模組</a></td>
		</tr>
		<tr>
			<th>2022/03/14</th>
			<td><a href="pdf_viewer?file=台化/工程會/20220314_SM廠工程會_智能工廠推動進度報告">SM廠工程會_智能工廠推動進度報告</a></td>
		</tr>
	</table>
{% endblock content %}