{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">台化專案檢討會簡報清單</font>  	
	<br>
	
	<table>
		<tr>
			<th>2022/09/16</th>
			<td><a href="pdf_viewer?file=台化/專案檢討會/20220916 化二部推動數位優化管理專題報告">化二部推動數位優化管理專題報告</a></td>
		</tr>
		<tr>
			<th>2022/06/27</th>
			<td><a href="pdf_viewer?file=台化/專案檢討會/20220627 化一部開發效益最大化之各廠原料產品組合模組">化一部開發效益最大化之各廠原料產品組合模組</a></td>
		</tr>
		<tr>
			<th>2022/05/18</th>
			<td><a href="pdf_viewer?file=台化/專案檢討會/20220518 工務部智能工廠AI執行報告">工務部智能工廠AI執行報告</a></td>
		</tr>
		<tr>
			<th>2021/11/18</th>
			<td><a href="pdf_viewer?file=台化/專案檢討會/20211118 化三部數位工廠優化推動計畫">化三部數位工廠優化推動計畫</a></td>
		</tr>
	</table>
{% endblock content %}