{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">台化台北AI專案會簡報清單</font>  	
	<br>

	<table>
		<tr>
			<th>2022/10/19</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20221019 醋酸廠POx反應器進料單元最佳化操作">醋酸廠POx反應器進料單元最佳化操作</a></td>
		</tr>
		<tr>
			<th>2021/09/29</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20210929 化一部開發輕油估價及效益最大化模組">化一部開發輕油估價及效益最大化模組</a></td>
		</tr>
		<tr>
			<th>2020/12/04</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20201204 塑膠部麥寮PC廠雙酚A溶液濃度穩定控制優化">塑膠部麥寮PC廠雙酚A溶液濃度穩定控制優化</a></td>
		</tr>
		<tr>
			<th>2020/07/15</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20200715 龍德PTA廠4-CBA品質控制優化">龍德PTA廠4-CBA品質控制優化</a></td>
		</tr>
		<tr>
			<th>2020/06/30</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20220630 化二部合成酚廠異丙苯氧化反應產率優化應用">化二部合成酚廠異丙苯氧化反應產率優化應用</a></td>
		</tr>
		<tr>
			<th>2019/11/22</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20191122 SM廠(海豐)脫氫觸媒性能預測及節能優化">SM廠(海豐)脫氫觸媒性能預測及節能優化</a></td>
		</tr>
		<tr>
			<th>2018/12/27</th>
			<td><a href="pdf_viewer?file=台化/AI報告/20181227 化一部開發萃取單元優化模組">化一部開發萃取單元優化模組</a></td>
		</tr>
	</table>
{% endblock content %}