{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">台塑台北AI專案會簡報清單</font>  	
	<br>

	<table>
		<tr>
			<th>2022/10/26</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/20221026麥寮正丁醇廠精餾塔AI操作最佳化">麥寮正丁醇廠精餾塔AI操作最佳化</a></td>
		</tr>
		<tr>
			<th>2022/08/25</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/20220825勝高矽晶圓自動兩面研磨平坦度預測系統">勝高矽晶圓自動兩面研磨平坦度預測系統</a></td>
		</tr>
		<tr>
			<th>2021/09/16</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/202109LLDPE-AI應用於轉品別最佳化控制">LLDPE-AI應用於轉品別最佳化控制</a></td>
		</tr>
		<tr>
			<th>2020/11/13</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/20201113ECH廠環氧氯丙烷(ECH)反應區收率優化">ECH廠環氧氯丙烷(ECH)反應區收率優化</a></td>
		</tr>
		<tr>
			<th>2020/05/27</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/20200527麥寮正丁醇廠異構物分離塔AI操作最佳化總裁報告">麥寮正丁醇廠異構物分離塔AI操作最佳化總裁報告</a></td>
		</tr>
		<tr>
			<th>2019/09/27</th>
			<td><a href="pdf_viewer?file=台塑/AI報告/20190927VCM廠EDC精餾單元AI節能優化">VCM廠EDC精餾單元AI節能優化</a></td>
		</tr>
	</table>
{% endblock content %}