{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">塑化台北AI專案會簡報清單</font>  	
	<br>

	<table>
		<tr>
			<th>2022/08/18</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20220818 塑化公司烯烴部乙炔轉化器操作優化">塑化公司烯烴部乙炔轉化器操作優化</a></td>
		</tr>
		<tr>
			<th>2021/10/20</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20211020 麥寮廠區蒸汽電力調度管理優化報告">麥寮廠區蒸汽電力調度管理優化報告</a></td>
		</tr>
		<tr>
			<th>2021/02/02</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20210202 丙烯回收單元操作優化模組">丙烯回收單元操作優化模組</a></td>
		</tr>
		<tr>
			<th>2020/08/26</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20200826 塑化烯烴部輕油裂解爐操作優化">塑化烯烴部輕油裂解爐操作優化</a></td>
		</tr>
		<tr>
			<th>2019/12/20</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20191220 麥電公司鍋爐燃煤投入量優化">麥電公司鍋爐燃煤投入量優化</a></td>
		</tr>
		<tr>
			<th>2019/01/09</th>
			<td><a href="pdf_viewer?file=塑化/AI報告/20190109 常壓蒸餾單元操作優化模組">常壓蒸餾單元操作優化模組</a></td>
		</tr>
	</table>
{% endblock content %}