{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">南亞工程會簡報清單</font>  	
	<br>
	
	<table>
		<tr>
			<th>2022/07/14</th>
			<td><a href="pdf_viewer?file=南亞/工程會/20220714 BPA再結晶回收優化報告(工程會)">BPA再結晶回收優化報告</a></td>
		</tr>
		<tr>
			<th>2021/10/12</th>
			<td><a href="pdf_viewer?file=南亞/工程會/20211012 銅箔基板三廠工程會報告">銅箔基板三廠工程會報告</a></td>
		</tr>
		<tr>
			<th>2020/11/23</th>
			<td><a href="pdf_viewer?file=南亞/工程會/20201123 工務部設備監控管理優化報告(工程會)">工務部設備監控管理優化報告</a></td>
		</tr>
	</table>
{% endblock content %}