{% extends "base_site.html" %}

{% block content %}
	<br>
	<font color="White" size="6" face="微軟正黑體">南亞台北AI專案會簡報清單</font>  	
	<br>

	<table>
		<tr>
			<th>2022/11/30</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20221130 電子部CCL含浸機製程管理作業優化">電子部CCL含浸機製程管理作業優化</a></td>
		</tr>
		<tr>
			<th>2022/05/24</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20220524 嘉義一廠硬管重量管制率優化">嘉義一廠硬管重量管制率優化</a></td>
		</tr>
		<tr>
			<th>2021/12/01</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20211201 BG廠總裁AI專案報告">BG廠總裁AI專案報告</a></td>
		</tr>
		<tr>
			<th>2020/12/25</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20201225 纖維部酯化聚合反應條件優化">纖維部酯化聚合反應條件優化</a></td>
		</tr>
		<tr>
			<th>2020/07/03</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20200703 電子部CCL外觀瑕疵檢查作業優化">電子部CCL外觀瑕疵檢查作業優化</a></td>
		</tr>
		<tr>
			<th>2019/10/25</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20191025 2EH廠OXO單元操作條件優化報告">2EH廠OXO單元操作條件優化報告</a></td>
		</tr>
		<tr>
			<th>2019/01/04</th>
			<td><a href="pdf_viewer?file=南亞/AI報告/20190104 提升產品瑕疵分類準確率報告">提升產品瑕疵分類準確率報告</a></td>
		</tr>
	</table>
{% endblock content %}